<launch>

  <!-- Joystick input -->
	<node pkg="joy" type="joy_node" name="joy_node" />
	<param name="joy_node/deadzone" value="0.15" />
	<param name="joy_node/autorepeat_rate" value="0.0" />

  <node pkg="mirrax_simple_demo" type="controller2robot.py" name="controller2robot_node" output="screen"/>

</launch>
